.MovieList {
  overflow-x: auto;
}
.Table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: none;
}

.Th,
.Td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}
.Tr:hover {
  background-color: #ededed;
}

.Starwarmovies_container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.Starwarmovies_container > div {
  text-align: center;
  flex-flow: column;
  width: 49%;
  align-content: center;
  border-left: 1px solid #cccccc;
}
