.Toolbar {
  background-color: #ededed;
  width: 100%;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  padding: 10px 0px 10px 0px;
}

.Toolbar_container {
  display: flex;
  width: 100%;
}

.Filter {
  flex: 0.2;
}
.Search {
  flex: 2;
}
/* .Toolbar_container > div {
  text-align: center;
  flex-flow: column;        
  width: 49%;
  align-content: center;
  border-left: 1px solid #cccccc;
} */
